---

---

<h1>404</h1>
<a href="/">Volver al inicio </a>

<style>
  h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #333;
  }

  a {
    color: #333;
    text-decoration: none;
  }
</style>
